venv/                                                                                                                                                                                                                                                                                                                                                 
.env                                                                                                                                                                                                                                                                                                                                                  
__pycache__/                                                                                                                                                                                                                                                                                                                                          
*.pyc                                                                                                                                                                                                                                                                                                                                                 
.git/  
ruff.toml
.ruff_cache/