services: 

  db:
    image: postgis/postgis:latest
    environment: 
      POSTGRES_DB: vector_features_db
      POSTGRES_USER: ${POSTGIS_USER}
      POSTGRES_PASSWORD: ${POSTGIS_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: