services: 

  db:
    image: postgis/postgis:latest
    environment: 
      POSTGRES_DB: ${POSTGIS_DB_NAME}
      POSTGRES_USER: ${POSTGIS_USER}
      POSTGRES_PASSWORD: ${POSTGIS_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  web:                                                                        
    build: .                           
    ports:                                                                    
      - "8000:8000"                                                           
    depends_on:
      - db
    env_file:
      - .env
    environment:
      - DB_HOST=db
      - DB_PORT=5432 
volumes:
  db_data: